.container {
    display: none; /* Masque le contenu de la classe container */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    overflow-x: hidden;
}
.container.active {
    display: block; /* Affiche le contenu de la classe container lorsque actif */
}
.container h2 {
    color: #0056b3;
    margin-top: 0;
    background: #333;
    display: inline-block; /* Permet au fond de couleur de s'adapter uniquement à la largeur du texte */
    padding: 5px 10px; /* Ajoutez un peu de marge intérieure pour plus d'espace autour du texte */
}

.container p {
    color: #333;

}

.container img, .container video {
    max-width: 100%;
    height: auto;
    margin: 10px 0;

}