main {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Assure que le contenu est au moins de la hauteur de la fenêtre */
  margin-left: 0;
  transition: margin-left 0.5s;
  flex-grow: 1; /* Permet au contenu principal de prendre autant de place que possible */
  margin-bottom: 100px; /* Laisser de l'espace pour le footer et la barre de navigation en bas */

}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Assure que la hauteur de l'élément est remplie */
}


.contenu>*:last-child {
  margin-bottom: 50px;
  /* Espacement après le dernier élément à l'intérieur de .contenu */
}

.contenu {
  margin: 20px auto;
  /* Centrer horizontalement et ajouter un espacement en haut et en bas */
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Alignement vertical au centre */
  max-width: 100%;
  /* Assurer que le contenu ne dépasse pas la largeur de l'écran */
  background-color: whitesmoke;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}


.contenu p {
  border: 1px solid #ccc;
  /* Bordure uniquement pour le titre et les paragraphes */
  padding: 10px;
  /* Ajout de remplissage pour un meilleur espacement */
  margin-bottom: 10px;
  /* Espacement entre le titre et les paragraphes */
  margin: 0 auto 10px;
  /* Espacement en bas */
}


.contenu h2 {
  color: #227dea;
  text-align: center;
  background-color: #e0e0e0;
  /* Couleur d'arrière-plan des titres */
  font-weight: bold;
}



.post {
  text-align: center;
  max-width: 600px;
  /* Ajustez selon vos besoins */
  margin-bottom: 30px;
  /* Espace entre chaque contenu chargé */
}