.jumbotron {
    background-image: url('background.jpg'); /* Remplacez 'background.jpg' par le chemin de votre image de fond */
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 80px 20px; /* Ajustez le rembourrage selon vos besoins */
  }
  
  .jumbotron h1 {
    color: #ff6600;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
    animation: bounce 1s infinite alternate;
    margin-top: 20px; /* Ajoute un espace de 20 pixels en haut du titre */
  
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
    
  }

  /* Animation d'apparition des lettres */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Animation de changement de couleur */
  @keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: purple; }
  }
  
  .jumbotron p {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    transition: color 0.3s;
  }

  .jumbotron p:hover {
    color: #ff6600;
  }



/* Rendre l'icône de radio plus petite pour les petits écrans */
@media only screen and (max-width: 600px) {
  .radio-icon {
      font-size: 20px; /* ou une taille appropriée pour les petits écrans */
  }
}


  /* Style pour le conteneur du message */
.welcome-container {
  font-size: 38px;
  font-family: Arial, sans-serif;
}

/* Style pour les petits écrans */
@media screen and (max-width: 767px) {
  .welcome-container {
    text-align: left;
  }
}

/* Style pour les grands écrans */
@media screen and (min-width: 768px) {
  .welcome-container {
    text-align: center;
  }
}

/* Style pour le titre h1 par défaut */
h1 {
  font-family: 'Script MT Bold', cursive;
}

/* Style pour les petits écrans */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
    text-align: left; /* Alignement à gauche pour les petits écrans */
    /* Ajoutez ici d'autres styles pour les petits écrans si nécessaire */
  }
}

/* Style pour les grands écrans */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    text-align: center; /* Alignement au centre pour les grands écrans */
    /* Ajoutez ici d'autres styles pour les grands écrans si nécessaire */
  }
}


  /* Style pour chaque lettre du message */
  .welcome-letter {
    display: inline-block;
    opacity: 0; /* Commence avec une opacité de 0 */
    animation: fadeIn ease-in-out 1s forwards; /* Animation d'apparition */
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  