.logo-expand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black; /* Couleur du texte */
    left: 20px; /* Décalage initial vers la droite */
    margin-top: 20px; /* Marge par rapport au bord supérieur */
    z-index: 9999; /* Assure que le logo est en premier plan */
  
  }
  
  #logo {
    width: 100px; /* ajustez la largeur selon vos préférences */
    height: auto; /* maintenir le ratio hauteur/largeur */
  }
  

