.night-mode {
    background-color: #333; /* Fond sombre */
    color: #fff; /* Texte clair */
  }

  /* Mode nuit */
  .night-mode .close-button i {
      color: black; /* Couleur claire pour le mode nuit */
    }

   