/* Applique un reset global pour supprimer les marges par défaut */
body,
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.user-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

header .date {
    font-size: 0.9em;
}

/* Style pour le header */
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    /* Inclut le padding dans la largeur totale */
    z-index: 1000;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    
}

/* Conteneur pour les éléments du haut du header */
.header-top {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Distribuer les éléments de manière égale sur l'axe horizontal */
    align-items: center; /* Centrer verticalement les éléments par rapport à leur conteneur */
    background-color: #007bff; /* Couleur de fond du conteneur */
    padding: 10px 0; /* Ajouter un peu d'espace en haut et en bas du conteneur */
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne suivante */
    /* Cette propriété assure que les éléments restent sur une seule ligne, même s'ils ne rentrent pas tous dans la largeur du conteneur. */
    overflow-x: hidden; /* Masquer tout contenu qui dépasse de l'axe horizontal du conteneur */
}


/* Styles for small screens */
@media (max-width: 767px) {
    .header-bottom .home-link i {
        margin-left: 20px; /* Space before the home icon on small screens */
    }

    .header-bottom .video-link {
        margin-right: 20px; /* Space after the video text on small screens */
    }
}

.header-top .date {
    flex: 1;
    text-align: center;
}

.header-top .menu-icon,
.header-top .user-icon {
    cursor: pointer;
}

/* Titre centré */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");
header h1 {
    font-family: 'Old English Text MT', 'Cinzel Decorative', serif;
    margin: 10px 0;
    flex: 1 100%;
    /* Prend toute la largeur disponible */
    text-align: center;
}

/* Conteneur pour les liens de navigation */
.header-bottom {
    display: flex; /* Utilisation de flexbox pour aligner horizontalement les éléments */
    justify-content: center; /* Centrer les éléments horizontalement */
    padding: 10px 0; /* Ajouter un peu d'espace en haut et en bas du conteneur */
}

.header-bottom a {
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Suppression du soulignement par défaut des liens */
     align-items: center; /* Centrer verticalement les éléments enfants */
    list-style: none; /* Suppression des puces pour les listes (cas où les liens seraient dans une liste) */
    margin: 0 10px; /* Ajouter un peu d'espace entre les liens */
    white-space: nowrap; /* Empêche le retour à la ligne pour les éléments de navigation */
    /* Cette propriété assure que les éléments de navigation restent sur une seule ligne,
       même s'ils ne rentrent pas tous dans la largeur de leur conteneur. */
       display: inline-flex;
     
    }


.header-bottom a i {
    margin-right: 5px;
    list-style: none;
    /* Au cas où l'icône serait dans une liste */
    text-decoration: none;
    /* Retire toute décoration de texte */
    margin: 0;
    /* Remet à zéro les marges */
    padding: 0;
    /* Remet à zéro les espacements */
}

.header-bottom a:hover {
    text-decoration: none;
    background-color: red;
    color: #ddd;
    /* Change la couleur au survol */
}