body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: #f0f0f0;

}

.user-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  overflow-x: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

header h1 {
    font-family: 'Old English Text MT', 'Cinzel Decorative', serif;
    font-size: 2em;
    margin: 10px 0;
}

header .date {
  font-size: 0.9em;
}

nav {
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne suivante */
  overflow-x: hidden;
}

nav a {
  list-style: none; /* Supprime les puces des listes */
  color: white; /* Couleur du texte */
  text-decoration: none; /* Retire le soulignement */
  margin: 0 10px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Empêche le retour à la ligne pour les éléments de navigation */
}

/* Style pour les liens lors du survol */
nav a:hover {
  background-color: red;
   color: #ddd; /* Change la couleur au survol */
}

nav a i {
  margin-right: 8px; /* Espace entre l'icône et le texte */
}

/* Supprime les décorations indésirables pour toutes les icônes */
nav a i {
  list-style: none; /* Au cas où l'icône serait dans une liste */
  text-decoration: none; /* Retire toute décoration de texte */
  margin: 0; /* Remet à zéro les marges */
  padding: 0; /* Remet à zéro les espacements */
}

/* Media query pour les petits écrans */
@media (max-width: 600px) {
  nav a {
      font-size: 1em; /* Taille réduite pour les petits écrans */
  }
}
