/* Style pour l'icône de recherche */
#searchIcon {
  color: black; /* Laisser la couleur de l'icône en blanc */
  border-radius: 50%; /* Optionnel: Arrondir les bords pour un aspect plus esthétique */
  cursor: pointer;
  position: absolute;
  left: 60%; /* Position par défaut pour les grands écrans */
  z-index: 2; /* Assure que l'icône est au-dessus du panneau */
  
}

.logo-right {
  position: absolute;
  top: -20px; /* Déplace l'image vers le haut */
  right: 10px; /* Ajuste la position horizontale */
  width: 80px; /* Ajuste la largeur de l'image */
  height: auto; /* Maintient le ratio de l'image */
}


#searchForm {
  display: block; /* Afficher le formulaire */
  margin-bottom: 20px; /* Ajouter un espace en bas du formulaire */
  margin-left: 20px; /* Ajouter un décalage vers la droite */

}

input[type="search"] {
  width: 200px; /* Définir une largeur pour le champ de recherche */
  padding: 8px; /* Ajouter un peu d'espace à l'intérieur du champ */
  border: 1px solid #ccc; /* Ajouter une bordure */
  border-radius: 5px; /* Arrondir les coins */
  font-size: 16px; /* Définir une taille de police */
}

button[type="submit"] {
  background-color: #007bff; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  padding: 8px 16px; /* Ajouter de l'espace intérieur */
  border-radius: 5px; /* Arrondir les coins */
  cursor: pointer; /* Utiliser un curseur de type pointeur */
  font-size: 16px; /* Définir une taille de police */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}
