body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le contenu s'étend sur toute la hauteur de la fenêtre */
  }

  header {
    background-color: #227dea;
    color: #fff;
    padding-bottom: 5px; /* Ajustez cette valeur pour réduire ou augmenter l'espace en bas */
    text-align: center;
    margin-bottom: 0px;
}


#apercu-recherche {
color: red; /* Couleur de fond rouge */
    /* Ajoutez d'autres styles au besoin */
    background-color: transparent;
}

  
  main {
    flex: 1;
    overflow-y: auto;
  }
  
 
  section {
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
  }
  
  section h2 {
    display: inline-block;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    margin-top: 20px;
    animation: fadeInUp 5s ease; /* Animation fadeInUp pendant 5 secondes avec une fonction de temporisation ease */
  }
  
  /* Style spécifique pour la section #podcasts */
  section#podcasts {
    background-color: #f8f8f8;
    margin-bottom: 20px;
  }
  
  section#podcasts h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section#podcasts h3 {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  
  .hidden {
    display: none;
  }
  
  #actualites a {
    display: inline-block; /* Pour créer un bloc pour chaque lien */
    margin-bottom: 10px; /* Ajoute un espace entre chaque lien (vous pouvez ajuster selon vos préférences) */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    padding: 5px; /* Ajoute un peu d'espace autour du texte des liens */
    color: #000; /* Couleur du texte */
    background-color: #eee; /* Couleur de fond */
    border-radius: 5px; /* Coins arrondis */
  }
  

/* Style du formulaire */
form {
  margin-top: 20px;
      margin: 0 auto;
      max-width: 400px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
  font-size: 16px;
}

input[type="file"] {
  display: none;
}

#customLabel {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}




@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.container {
  margin: 20px;
}


.actions {
  margin-bottom: 10px;
}

.actions i {
  cursor: pointer;
  margin-right: 10px;
}

 /* Inclure la police Script MT Bold depuis une source externe si nécessaire */
 @import url('https://fonts.googleapis.com/css2?family=Script+MT+Bold&display=swap');

 /* Appliquer la police à l'élément h1 */
 h1 {
     font-family: 'Algerian', cursive;
 }

 /* Style pour l'icône de radio */
 .radio-icon {
    color: whitesmoke; /* Couleur de l'icône, ajustez selon vos préférences */
    font-size: 24px; /* Taille de l'icône, ajustez selon vos préférences */
    margin-right: 8px; /* Marge à droite pour l'espacement */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .radio-title {
    display: flex;
    align-items: center;
  }


 

.barre-recherche {
    display: none;
    position: absolute;
    top: 20%;
    right: 20px;
    background-color: #f1f1f1;
    padding: 5px;
}

.barre-recherche input {
    width: 100px;
    padding: 5px;
}

.barre-recherche button {
    margin-left: 10px;
}


/* Appliquer un style commun aux paragraphes */
p {
  /* Définir la taille de police des paragraphes à 14 pixels */
  font-size: 20px;
  /* Limiter la largeur maximale des paragraphes à 500 pixels */
  max-width: 500px;
  /* Centrer horizontalement les paragraphes */
  margin-left: auto;
  margin-right: auto;

  /* Ajouter une transition douce pour l'effet de transformation */
  transition: transform 0.2s ease-in-out;

}


/* Styles pour les messages en rouge */
#apercu-recherche, #result-message {
  color: red;
}

.container {
  display: flex;
}

#map {
  height: 100px; /* Ajustez la hauteur selon vos besoins */
  width: 20%; /* Ajustez la largeur selon vos besoins */
}

.content {
  width: 10%; /* Ajustez la largeur selon vos besoins */
  /* Ajoutez d'autres styles au besoin */
}
