
 /* Inclure la police Script MT Bold depuis une source externe si nécessaire */
 @import url('https://fonts.googleapis.com/css2?family=Script+MT+Bold&display=swap');

.header {
  background-color: #3b5998;
  color: #fff;
  padding: 10px 0;
}

.radio-title {
  text-align: center; /* Centrer le texte horizontalement */
}


.menu a {
  text-decoration: none;
  color: black; /* Couleur de texte par défaut */
}

.menu a:hover {
background-color: white;
  color: #ff0000; /* Couleur de texte lorsque survolé */
}


.side-title {
  color: black;
  margin-left: 10px; /* Ajoute une marge à gauche de chaque élément de liste */

}

.menu,.categories {
  list-style-type: none;
}

.menu li,.categories li {
  margin-bottom: 10px;
  /* Ajoutez un espacement entre chaque élément de la liste si nécessaire */
}


.categories a:hover{
  color: #ff0000; /* Couleur de texte lorsque survolé */
  background-color: white;
}

.categories a,
h3 {
  text-decoration: none;
  color: black;
  margin-left: 10px; /* Ajoute une marge à gauche de chaque élément de liste */
}


.categories ul {
  padding-left: 20px; /* Ajoute un padding à gauche de la liste */
}

.categories li {
  margin-left: 10px; /* Ajoute une marge à gauche de chaque élément de liste */
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

 .main-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    h1 {
        font-size: 48px;
        margin: 0;
    }
    
    button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #fff;
        color: #000;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
    
    button:hover {
        background-color: #ddd;
    }







