        /* Ajoutez ici vos styles pour le menu et l'icône */
        #menu-icon {
            cursor: pointer;
        }

        .cross-icon {
            cursor: pointer;
            display: none;
            font-size: 40px; /* Ajoutez la taille souhaitée en pixels */
        }

        #menu-icon:hover,
        .cross-icon:hover {
            color: red; /* Changez la couleur au survol selon vos préférences */
        }

        .show-menu {
            display: block !important; /* ou utilisez une autre valeur selon vos besoins */
        }
        