.toggle-button {
    position: absolute; /* Changer de fixed à absolute */
    left: 10px;
    top: 10px; /* Ajuster la valeur top selon vos besoins */
    font-size: 24px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: red;
    transition: background-color 0.3s; /* Ajoutez une transition pour une animation fluide */

   }
   

   .toggle-button:hover {
    background-color: gold; /* Changez la couleur de fond au survol */
    color: darkred; /* Changez la couleur du texte au survol */
}
/* Media query pour les grands écrans */
@media screen and (min-width: 768px) {
  .toggle-button {
      width: 60px; /* Ajustez la taille du bouton pour les grands écrans selon vos besoins */
      height: 60px;
      font-size: 32px; /* Augmentez la taille de la police si nécessaire */
  }
}

  
.close-button {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* Crée un cercle */
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Curseur pointer pour indiquer que c'est cliquable */
}

.close-icon i {
  color: white;
  font-size: 20px;
}