/* Définition de l'animation de clignotement */
@keyframes blinkAnimation {
    0% {
        color: #fff; /* Couleur du texte au début */
        background-color: #000; /* Couleur de fond au début */
    }
    50% {
        color: #000; /* Couleur du texte à mi-chemin */
        background-color: #fff; /* Couleur de fond à mi-chemin */
    }
    100% {
        color: #fff; /* Couleur du texte à la fin */
        background-color: #000; /* Couleur de fond à la fin */
    }
}

/* Appliquez l'animation à l'élément avec la classe "blinking-text" */
.blinking-text {
    animation: blinkAnimation 5s infinite; /* La durée de l'animation est de 1 seconde, elle se répète indéfiniment */
}

/* CSS pour l'animation d'apparition des lettres avec couleurs et fond */
.wordFadeIn span {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    animation: letterFadeInAnimation 0.5s forwards;
}

@keyframes letterFadeInAnimation {
    to {
        opacity: 1;
        transform: translateY(0);
        color: red;
    }
}
