/* Style du conteneur de connexion */
.login-container {
    max-width: 200px; /* Largeur maximale du conteneur */
    margin: 10px auto; /* Marge extérieure, centrée horizontalement */
    padding: 10px; /* Espacement intérieur */
    border: 1px solid #ccc; /* Bordure de 1 pixel solide avec couleur #ccc */
    border-radius: 5px; /* Coins arrondis */
}

/* Style pour les étiquettes (labels) et les champs de saisie (inputs) à l'intérieur du conteneur de connexion */
.login-container label,
.login-container input {
    display: block; /* Affiche les éléments sur des lignes séparées */
    margin-bottom: 10px; /* Marge en bas */
}

/* Style pour les champs de saisie à l'intérieur du conteneur de connexion */
.login-container input {
    width: 100%; /* Largeur à 100% */
    padding: 8px; /* Espacement intérieur */
    box-sizing: border-box; /* Boîte de modèle incluant la bordure et le padding dans la largeur définie */
}

/* Style pour le bouton de soumission à l'intérieur du conteneur de connexion */
.login-container button {
    background-color: blue; /* Couleur de fond bleue */
    color: white; /* Couleur du texte */
    padding: 5px; /* Espacement intérieur */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur interactif */
}

#signUpForm {
    display: none;
}