nav {
    background-color: #227dea;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu-icon {
    font-size: 24px;
    cursor: pointer;
    border: 1px solid rgba(55, 16, 213, 0.5);

    
}
#menu-icon:hover {
    color: red;
}


#menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #227;
    display: none;
    border: 1px solid rgba(213, 16, 16, 0.5);
    overflow-y: scroll; /* Ajoute une barre de défilement verticale à la page entière */
    max-height: 200px; /* Définissez une hauteur maximale pour la liste */
}



#menu-list li {
    padding: 10px;
    text-align: center;
    display: flex;
    margin-left: 0; /* Ajoutez cette ligne pour définir la marge gauche à zéro */
    

}

#menu-list li a {
    color: white;
    text-decoration: none;
    border: 1px solid rgba(117, 61, 61, 0.5);
}

#menu-list li a:hover {
    color: #227dea;
    background-color: wheat;
    padding: 5px;
}


