#date {
  font-size: 18px;
  background-color: #227;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 10px;
  color: beige;
  display: inline-block;
  /* Ajout de cette propriété */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  transition: transform 0.3s ease;
  transition: opacity 0.5s;
  overflow-x: hidden;

}

.hidden-footer {
  transform: translateY(100%);
  display: none; /* Assure-toi de garder cette propriété */
}



footer .social-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}


.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon-container {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* Créer des cercles */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  /* Espacement entre les icônes */
}

.icon-container a {
  color: black;
  font-size: 12px;
}


.copyright {
  display: flex;
  justify-content: center;
  /* Aligner horizontalement */
  align-items: center;
  /* Aligner verticalement */
}