/* Styles pour le panneau latéral */
#sidebar {
    position: absolute;
    top: 60px;
    /* Ajuster pour ne pas se chevaucher avec le header */
    right: 0;
    height: 100%;
    /* Ajuster pour ne pas se chevaucher avec le header */
    width: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 998;
    /* Assure que le panneau est au-dessus de la barre de navigation */
    overflow-y: scroll;
  
}

/* Styles pour le panneau latéral */
#sidebar ul {
    list-style-type: none; /* Retire les puces de la liste */
    
}



#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px; /* Ajuste la taille de la police pour correspondre à la conception */
    color: white;
    display: block;
    transition: 0.3s;
}


/* Effet de survol pour les liens du panneau latéral */
#sidebar a:hover {
    color: #f1f1f1;
}

/* Styles pour l'ouverture du panneau latéral */
#sidebar.open {
    width: 100%;
}

/* Styles pour les grands écrans */
@media (min-width: 768px) {
    #sidebar.open {
        width: 50%;
    }
}