.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    overflow-y: scroll; /* Ajoute une barre de défilement verticale si nécessaire */
    padding-bottom: 100px; /* Ajuste cette valeur en fonction de l'espace nécessaire */

}

.sidebar input[type="search"] {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: black;
}

.sidebar .search-container {
    position: relative;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #575757;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}


/* Effet de survol pour les liens du panneau latéral */
.sidebar a:hover {
    color: #f1f1f1;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
}


