/* base.css ou dans un bloc <style> de base.html */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}


/* Conteneur principal pour le contenu */
.container {
    max-width: 800px; /* Limiter la largeur maximale pour le contenu */
    margin: 0 auto; /* Centrer horizontalement le contenu */
    padding: 20px; /* Ajouter un peu de padding autour du contenu */
    margin-bottom: 100px; /* Ajouter un grand espace en bas */
}

/* Main content */
main {
    display: flex;
    flex-direction: column; /* Organiser les éléments en colonne */
    align-items: center; /* Centrer le contenu horizontalement */
    width: 100%; /* S'assurer que le contenu occupe toute la largeur disponible */
}


/* Titres */
h1, h2, h4, h5, h6 {
    margin: 20px 0; /* Espacement autour des titres */
    text-align: center;
}


.side-title, .categories h3 {
    color: white;
    margin-left: 20px; /* Ajustez cette valeur selon vos besoins */
}


/* Paragraphes */
p {
    color: #000; /* Couleur du texte en noir */
    background-color: #fff; /* Fond blanc */
    margin: 10px auto; /* Espacement autour des paragraphes, centre horizontalement */
    max-width: 800px; /* Largeur maximale des paragraphes */
    box-sizing: border-box;
    text-align: center;
}


