<!-- Barre de navigation en haut -->
<nav class="navbar navbar-expand navbar-top">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a
        href="{% url 'animateurs' %}"
        class="{% if request.resolver_match.url_name == 'animateurs' %}active{% endif %} nav-link"
      >
        <i class="fas fa-microphone"></i> Animateurs
      </a>
    </li>
    <li class="nav-item">
      <a
        href="{% url 'programmes' %}"
        class="{% if request.resolver_match.url_name == 'programmes' %}active{% endif %} nav-link"
      >
        <i class="fas fa-calendar-alt"></i> Programme
      </a>
    </li>

    <li class="nav-item">
      <a
        href="{% url 'contacts' %}"
        class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %} nav-link"
      >
        <i class="fas fa-envelope"></i> Contact
      </a>
    </li>

    <li class="nav-item">
      <a
        href="{% url 'parrains' %}"
        class="{% if request.resolver_match.url_name == 'parrains' %}active{% endif %} nav-link"
      >
        <i class="fas fa-handshake"></i> Parrains
      </a>
    </li>
  </ul>
</nav>


<!-- Main Header -->
<div class="header-main text-center">
  <!-- Language Switch -->
  <div class="language-switch">
    <a
      href="?language=fr"
      class="text-white {% if LANGUAGE_CODE == 'fr' %}active{% endif %}"
      >FRANÇAIS</a
    >
    |
    <a
      href="?language=en"
      class="text-white {% if LANGUAGE_CODE == 'en' %}active{% endif %}"
      >ENGLISH</a
    >
  </div>

  <div class="logo">Radio MFM 99.5</div>

  <div class="user-actions">
    {% if user.is_authenticated and user.is_staff %}
    <a href="/admin/" class="text-white">
        <i class="fas fa-user"></i>
    </a>
    {% endif %}
</div>

</div>
