<!-- Panneau latéral -->
<div id="sidebar" class="closed">
  <div class="side-title">MENU</div>
  <ul class="menu">
    <li>
      <a
        href="{% url 'decouvrir' %}"
        class="{% if request.path == '/decouvrir/' %}active{% endif %}">
        <i class="fas fa-globe"></i> Découvrir
      </a>
    </li>

    <li>
      <a
        href="{% url 'tendance' %}"
        class="{% if request.path == '/tendance/' %}active{% endif %}">
        <i class="fas fa-chart-line"></i> Tendance
      </a>
    </li>

    <li>
      <a
        href="{% url 'video' %}"
        class="{% if request.path == '/video/' %}active{% endif %}">
        <i class="fas fa-play-circle"></i> Diffusion
      </a>
    </li>

    <li>
      <a
        href="{% url 'liste_de_lecture' %}"
        class="{% if request.path == '/liste_de_lecture/' %}active{% endif %}">
        <i class="fas fa-list"></i> Liste de Lecture
      </a>
    </li>

    <li>
      <a
        href="{% url 'marque_page' %}"
        class="{% if request.path == '/marque_page/' %}active{% endif %}">
        <i class="fas fa-bookmark"></i> Marque-Page
      </a>
    </li>
  </ul>

  <div class="categories">
    <h3>Catégories</h3>
    <ul>
      <li>
        <a
          href="{% url 'direct' %}"
          class="{% if direct_is_live %}live{% endif %}">
          <i class="fas fa-broadcast-tower"></i> Diffusion en Direct  {% if direct_is_live %}
          <span class="live-indicator"></span>
      {% endif %}
        </a>
      </li>

      <li>
        <a
          href="{% url 'economie' %}"
          class="{% if request.path == '/economie/' %}active{% endif %}">
          <i class="fas fa-chart-line"></i> Économie
        </a>
      </li>

      <li>
        <a
          href="{% url 'culture' %}"
          class="{% if request.path == '/culture/' %}active{% endif %}">
          <i class="fas fa-theater-masks"></i> Culture
        </a>
      </li>

      <li>
        <a
          href="{% url 'sports' %}"
          class="{% if request.path == '/sports/' %}active{% endif %}">
          <i class="fas fa-futbol"></i> Sports
        </a>
      </li>

      <li>
        <a
          href="{% url 'statistiques' %}"
          class="{% if request.resolver_match.url_name == 'statistiques' %}active{% endif %}">
          <i class="fas fa-chart-line"></i> Statistiques
        </a>
      </li>

      <li>
        <a
          href="{% url 'publicites' %}"
          class="{% if request.resolver_match.url_name == 'publicites' %}active{% endif %}">
          <i class="fas fa-bullhorn"></i> Publicités
        </a>
      </li>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch" />
        <label class="custom-control-label" for="customSwitch">
          <span id="modeIcon" class="mode-icon"><i class="fas fa-sun"></i></span>
          <span id="modeText" class="mode-text">Mode nuit</span>
        </label>
    </div>
    </ul>
   
  <div class="line"></div>
</div>
</div>

<!-- Barre de navigation en bas -->
<nav class="navbar navbar-expand navbar-bottom">
  <ul class="navbar-nav w-100">
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'accueil' %}">
        <i class="fas fa-home"></i><br />Accueil
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if request.path == '/direct/' %}active{% endif %}" href="{% url 'direct' %}">
        <i class="fas fa-play-circle"></i><br />Direct
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/podcasts/' %}active{% endif %}" href="{% url 'podcasts' %}">
        <i class="fas fa-podcast"></i><br />Podcasts
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if request.path == '/video/' %}active{% endif %}" href="{% url 'video' %}">
        <i class="fas fa-video"></i><br />Différé
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-bars menu-icon" onclick="toggleNav()"></i><br />Menu
      </a>
    </li>
  </ul>
</nav>

