{% extends 'base.html' %}
{% load static %}

{% block title %}Animateurs - Radio Marbial FM{% endblock %}

{% block og_title %}Liste des animateurs{% endblock %}
{% block og_description %}Découvrez tous nos animateurs{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center">Nos Animateurs</h1>
  <!-- Conteneur Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for animateur in animateurs %}
      <div class="swiper-slide">
        <div class="card">
          {% if animateur.logo %}
          <img src="{{ animateur.logo.url }}" alt="{{ animateur.logo }}" class="card-img-top">
      {% else %}
          <img src="{% static 'images/logo.jpg' %}" alt="Image par défaut" class="card-img-top">
      {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ animateur.prenom }} {{ animateur.nom }}</h5>
            <p class="card-text">{{ animateur.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ animateur.email }}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Pagination et Navigation (optionnel) -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>


{% endblock %}
