{% extends 'base.html' %}

{% block title %}Liste des articles{% endblock %}
{% load static %}
{% block og_title %}Liste des articles{% endblock %}
{% block og_description %}Découvrez tous nos articles récents.{% endblock %}

{% block og_image %}{% static 'images/logo.jpg' %}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}

{% block content %}
<h1>Articles</h1>
<div class="article-list">
    {% for article in articles %}
        <div class="article-item">
            {% if article.image %}
                <div class="article-image">
                    <img src="{{ article.image.url }}" alt="{{ article.titre }}" class="responsive-img">
                </div>
            {% else %}
                <div class="article-image">
                    <img src="{% static 'images/logo.jpg' %}" alt="Image par défaut" class="card-img-top img-fluid">
                </div>
            {% endif %}
            <div class="article-content">
                <h2><a href="{% url 'article_detail' article.id %}">{{ article.titre }}</a></h2>
                <p>{{ article.contenu|truncatewords:30 }}</p>
                <p><a href="{% url 'article_detail' article.id %}">Lire la suite</a></p>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
