{% extends 'base.html' %}

{% block title %}Nos Émissions{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center font-weight-bold mb-4">Nos Émissions</h2>
    <div class="row">
        {% for emission in emissions %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ emission.titre }}</h5>
                    <p class="card-text">{{ emission.description|truncatewords:20 }}</p>
                    <a href="{% url 'emission_detail' emission.id %}" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
