{% extends 'base.html' %}


{% load custom_filters %}

{% block title %}Vidéo - Radio Marbial FM{% endblock %}

{% block content %}
<p>Bienvenue sur la page vidéo !</p>

<div class="row">
    {% for video in videos %}
        <div class="col-md-4 mb-4">
            <div class="card bg-white">
                <div class="card-body">
                    <h5 class="card-title">{{ video.titre }}</h5>
                    <p class="card-text">{{ video.description }}</p>
                    <div class="video-container">
                        {% if video.video_file %}
                            <video class="embed-responsive-item" controls>
                                <source src="{{ video.video_file.url }}" type="video/mp4">
                                Votre navigateur ne supporte pas l'élément vidéo.
                            </video>
                        {% elif video.url %}
                            {% if 'youtube.com' in video.url or 'youtu.be' in video.url %}
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{ video.url|youtube_embed_url }}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% elif 'facebook.com' in video.url %}
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{ video.url|facebook_embed_url }}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% else %}
                                <p>Vidéo non supportée.</p>
                                
                            {% endif %}
                        {% else %}
                            <p>Pas de vidéo disponible.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
