{% extends 'radio/base.html' %}

{% block title %}
    {{ article.titre }}
{% endblock %}

{% load static %}

{% block og_title %}
    {{ article.titre }}
{% endblock %}

{% block og_description %}
    {{ article.contenu|truncatewords:30 }}
{% endblock %}

{% block og_image %}
    {% if article.image %}
        {{ article.image.url }}
    {% else %}
        {% static 'images/logo.jpg' %}
    {% endif %}
{% endblock %}

{% block og_url %}
    {{ request.build_absolute_uri }}
{% endblock %}

{% block og_type %}
    article
{% endblock %}

{% block content %}


<h1>{{ article.titre }}</h1>
<div class="article-content">
  <p>{{ article.contenu }}</p>
  {% if article.image %}
  <img
    src="{{ article.image.url }}"
    alt="{{ article.titre }}"
    class="article-image"
  />
  {% else %}
  <img
    src="{% static 'images/logo.jpg' %}"
    alt="Image par défaut"
    class="article-image"
  />
  {% endif %}
</div>
<p class="article-author">Par {{ article.auteur }}</p>
<p class="article-date">
  Publié le {{ article.date_publication|date:"d M Y" }}
</p>
<div class="text-center">
  <a href="{% url 'article_list' %}">Retour à la liste des articles</a>
</div>

{% endblock %}
