{% extends 'radio/base.html' %}

{% block title %}Liste des Contacts{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Liste des Contacts</h1>
    <div class="row">
        {% for contact in contacts %}
            <div class="col-md-4 mb-4">
                <div class="card text-dark bg-light">
                    <div class="card-body">
                        <h5 class="card-title">{{ contact.nom }} {{ contact.prenom }}</h5>
                        <p class="card-text">
                            Email: {{ contact.email }}<br>
                            Téléphone: {{ contact.telephone }}<br>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
