{% extends 'radio/base.html' %}


{% block title %}Culture - Radio Marbial FM{% endblock %}

{% block content %}
<p>Bienvenue sur la page Culture !</p>

<div class="article-list">
    {% for article in articles %}
        <div class="article-item">
            <h2>{{ article.titre }}</h2>
            <p>{{ article.contenu|truncatewords:30 }}</p>
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.titre }}" style="max-width:100%;">
            {% endif %}
            <p><a href="{% url 'article_detail' article.id %}">Lire la suite</a></p>
        </div>
    {% endfor %}
</div>
{% endblock %}
