{% extends 'radio/base.html' %}

{% load custom_filters %}

{% block title %}Direct - Radio Marbial FM{% endblock %}

{% block content %}
<p>Bienvenue sur la page de Direct !</p>

<div class="row">
    {% for direct in directs %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ direct.titre }}</h5>
                    <p class="card-text">{{ direct.description }}</p>
                    <div class="video-container">
                        {% if 'youtube.com' in direct.url or 'youtu.be' in direct.url %}
                            <div class="embed-responsive embed-responsive-16by9">
                                
                                <iframe class="embed-responsive-item" src="{{ direct.url|youtube_embed_url }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        {% elif 'facebook.com' in direct.url %}
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="{{ direct.url|facebook_embed_url }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        {% else %}
                            <p>Vidéo non supportée.</p>
                          

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="chat">
    <div class="chat-log" id="chat-log"></div>
    <form id="chat-form">
        <input type="text" id="chat-message-input" autocomplete="off" placeholder="Type a message..."/>
        <input type="submit" id="chat-message-submit" value="Send"/>
    </form>
</div>

<script>
// Récupération du nom de la salle depuis les paramètres d'URL
const urlParams = new URLSearchParams(window.location.search);
const roomName = urlParams.get('room') || 'default_room'; // Utilise 'default_room' si aucun paramètre 'room' n'est trouvé

const chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
);

chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    document.querySelector('#chat-log').innerHTML += `<p>${data.message}</p>`;
    document.querySelector('#chat-log').scrollTop = document.querySelector('#chat-log').scrollHeight;
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

document.querySelector('#chat-form').onsubmit = function(e) {
    e.preventDefault();
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;
    chatSocket.send(JSON.stringify({
        'message': message
    }));
    messageInputDom.value = '';
};
</script>
{% endblock %}
