{% extends 'radio/base.html' %}
{% load static %}

{% block title %}Parrains Radio Marbial FM{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Nos Parrains</h1>
    <div class="row">
        {% for parrain in parrains %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if parrain.logo %}
                        <img src="{{ parrain.logo.url }}" alt="{{ parrain.logo }}" class="card-img-top">
                    {% else %}
                        <img src="{% static 'images/logo.jpg' %}" alt="Image par défaut" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ parrain.nom }}</h5>
                        <p class="card-text">
                            Type de parrainage: {{ parrain.type_parrainage }}<br>
                            {{ parrain.details|linebreaksbr }}
                        </p>
                        <a href="{% url 'parrain_detail' parrain.id %}" class="btn btn-primary">Voir les détails</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Aucun parrain disponible.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
