{% extends 'radio/base.html' %}


{% block title %}{{ parrain.nom }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ parrain.nom }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ parrain.logo.url }}" alt="{{ parrain.nom }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Détails du parrainage</h2>
            <p><strong>Type de parrainage :</strong> {{ parrain.get_type_parrainage_display }}</p>
            <p><strong>Contact :</strong> {{ parrain.contact }}</p>
            <p><strong>Détails :</strong> {{ parrain.details|linebreaksbr }}</p>
            <p><strong>Date de création :</strong> {{ parrain.date_creation }}</p>
            {% if parrain.contact and parrain.contact|startswith:'http' %}
                <a href="{{ parrain.contact }}" class="btn btn-primary" target="_blank">Contact</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
