{% extends 'radio/base.html' %}


{% block title %}Podcasts - Radio Marbial FM{% endblock %}

{% block content %}
<p>Bienvenue sur la page des podcasts !</p>

<div class="row">
    {% for podcast in podcasts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ podcast.titre }}</h5>
                    <p class="card-text">{{ podcast.description }}</p>
                    {% if podcast.audio_file %}
                        <audio controls class="w-100">
                            <source src="{{ podcast.audio_file.url }}" type="audio/mpeg">
                            <source src="{{ podcast.audio_file.url }}" type="audio/ogg">
                            <source src="{{ podcast.audio_file.url }}" type="audio/wav">
                            <source src="{{ podcast.audio_file.url }}" type="audio/aac">
                            Votre navigateur ne supporte pas l'élément audio.
                        </audio>
                    {% elif podcast.url %}
                        <audio controls class="w-100">
                            <source src="{{ podcast.url }}" type="audio/mpeg">
                            <source src="{{ podcast.url }}" type="audio/ogg">
                            <source src="{{ podcast.url }}" type="audio/wav">
                            <source src="{{ podcast.url }}" type="audio/aac">
                            Votre navigateur ne supporte pas l'élément audio.
                        </audio>
                    {% else %}
                        <p>Pas de fichier audio disponible.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
