<!-- templates/admin_dashboard.html -->

{% extends 'base.html' %}

{% block title %}Tableau de Bord{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Tableau de bord des superutilisateurs</h1>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Animateurs</h5>
                    <p class="card-text">Nombre d'animateurs : {{ animateurs.count }}</p>
                    <a href="{% url 'admin:radio_animateur_changelist' %}" class="btn btn-light">Voir les animateurs</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-white bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Articles</h5>
                    <p class="card-text">Nombre d'articles : {{ articles.count }}</p>
                    <a href="{% url 'admin:radio_article_changelist' %}" class="btn btn-light">Voir les articles</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-white bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs</h5>
                    <p class="card-text">Nombre d'utilisateurs : {{ users.count }}</p>
                    <ul>
                        {% for user in users %}
                        <li>
                            {% if user.first_name or user.last_name %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </li>
                        

                        {% endfor %}
                    </ul>
                    <a href="{% url 'admin:auth_user_changelist' %}" class="btn btn-light">Voir les utilisateurs</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card text-white bg-warning">
                <div class="card-body">
                    <h5 class="card-title">Directs</h5>
                    <p class="card-text">Nombre de directs : {{ directs.count }}</p>
                    <a href="{% url 'admin:radio_direct_changelist' %}" class="btn btn-light">Voir les directs</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h5 class="card-title">Émissions</h5>
                    <p class="card-text">Nombre d'émissions : {{ emissions.count }}</p>
                    <a href="{% url 'admin:radio_emission_changelist' %}" class="btn btn-light">Voir les émissions</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-white bg-warning">
                <div class="card-body">
                    <h5 class="card-title">Podcasts</h5>
                    <p class="card-text">Nombre de podcasts : {{ podcasts.count }}</p>
                    <a href="{% url 'admin:radio_podcast_changelist' %}" class="btn btn-light">Voir les podcasts</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Programmes</h5>
                    <p class="card-text">Nombre de programmes : {{ programmes.count }}</p>
                    <a href="{% url 'admin:radio_programme_changelist' %}" class="btn btn-light">Voir les programmes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-white bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Publicités</h5>
                    <p class="card-text">Nombre de publicités : {{ publicites.count }}</p>
                    <a href="{% url 'admin:radio_publicite_changelist' %}" class="btn btn-light">Voir les publicités</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-white bg-success">
                <div class="card-body">
                    <h5 class="card-title">Vidéos</h5>
                    <p class="card-text">Nombre de vidéos : {{ videos.count }}</p>
                    <a href="{% url 'admin:radio_video_changelist' %}" class="btn btn-light">Voir les vidéos</a>
                </div>
            </div>
        </div>

        
 <!-- Affichage des contacts -->
                <div class="col-md-4 mb-4">
                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <h5 class="card-title">Contacts</h5>
                            <p class="card-text">Nombre de contacts : {{ contacts.count }}</p>
                            <a href="{% url 'admin:radio_contact_changelist' %}" class="btn btn-light">Voir les contacts</a>
                        </div>
                    </div>
                </div>

                <!-- Affichage des parrains -->
                <div class="col-md-4 mb-4">
                    <div class="card text-white bg-warning">
                        <div class="card-body">
                            <h5 class="card-title">Parrains</h5>
                            <p class="card-text">Nombre de parrains : {{ parrains.count }}</p>
                            <a href="{% url 'admin:radio_parrain_changelist' %}" class="btn btn-light">Voir les parrains</a>
                        </div>
                    </div>
                </div>
    </div>
</div>
{% endblock %}
