/* Styles pour la barre de navigation en haut */
.navbar-top {
    background-color: #1B6FF0;
    color: white;
    position: relative;
    padding: 10px 0px;
    /* Espacement intérieur de la barre de navigation */
    top: 0;
    /* Position en haut de la page */
    width: 100%;
    /* Largeur totale */
    z-index: 1000;
    /* Couche supérieure */
}

/* Centrer les éléments de la liste dans la barre de navigation */
.navbar-top .navbar-nav {
    flex-direction: row;
    /* Alignement en ligne */
    justify-content: center;
    /* Centrer les éléments */
    width: 100%;
    /* Largeur totale */
    margin: 0;
    /* Enlever les marges par défaut */
    padding: 0;
    /* Enlever le padding par défaut */
    list-style: none;
    /* Enlever les puces de la liste */
}

/* Espacement entre les éléments de la liste */
.navbar-top .nav-item {
    margin: 0 15px;
    /* Espacement horizontal uniforme entre les éléments */
}

/* Styles pour les liens dans la barre de navigation en haut */
.navbar-top .nav-link {
    text-decoration: none;
    color: #ffffff;
    /* Couleur blanche pour le texte des liens */
    text-decoration: none;
    /* Enlever la décoration des liens */
    padding: 10px 15px;
    /* Espacement intérieur des liens */
    display: block;
    /* Assurer que le padding s'applique correctement */
    transition: color 0.3s ease;
    /* Transition douce pour le changement de couleur */
}



/* Cible les liens dans les éléments de navigation */
.nav-item a {
    text-decoration: none;
    /* Retire les sous-lignages */
    color: white;
    /* Change la couleur du texte en blanc */
    transition: all 0.3s ease;
    /* Ajoute une transition fluide pour les changements de style */
}

.nav-item a:hover {
    color: red;
    /* Change la couleur du texte en survol (par exemple, gris clair) */
    transform: scale(1.1);
    /* Agrandit le texte à 110% de sa taille originale */
}


/* Styles pour le lien actif */
.navbar-top .nav-link.active {
    color: #ffcc00; /* Couleur de surbrillance pour le lien actif */
    font-weight: bold; /* Met en gras le texte du lien actif */
    background-color: rgba(255, 255, 255, 0.2); /* Fond léger pour le lien actif */
    border-radius: 5px; /* Coins arrondis pour le fond de surbrillance */
}