/* Styles pour le corps de la page */
body {
    margin-top: 80px; /* Décalage pour le header */
    margin-bottom: 200px; 
    font-family: "Times New Roman", serif;
    background-color: #f0f0f0;
}

/* Réinitialisation des marges et des paddings */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}
/* Conteneur principal */
.main-container {
    width: 100%;
    max-width: 1200px; /* Largeur maximale du contenu */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 20px;
    box-sizing: border-box;
}
/* Exemple de styles pour un élément de contenu */
.content {
    width: 100%; /* S'adapte à la largeur du conteneur principal */
    padding: 20px;
    box-sizing: border-box;
}

/* Titres */
h1, h2, h4, h5, h6 {
    margin: 20px 0; /* Espacement autour des titres */
    text-align: center;
}


.side-title, .categories h3 {
    color: white;
    margin-left: 20px; /* Ajustez cette valeur selon vos besoins */
}


/* Paragraphes */
p {
    color: #000; /* Couleur du texte en noir */
    background-color: #fff; /* Fond blanc */
    margin: 10px auto; /* Espacement autour des paragraphes, centre horizontalement */
    max-width: 800px; /* Largeur maximale des paragraphes */
    box-sizing: border-box;
    text-align: center;
}
