<!-- Barre de navigation en haut -->
<nav class="navbar navbar-expand navbar-top">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a
        href="{% url 'animateurs' %}"
        class="{% if request.resolver_match.url_name == 'animateurs' %}active{% endif %} nav-link"
      >
        <i class="fas fa-microphone"></i> Animateurs
      </a>
    </li>
    <li class="nav-item">
      <a
        href="{% url 'programmes' %}"
        class="{% if request.resolver_match.url_name == 'programmes' %}active{% endif %} nav-link"
      >
        <i class="fas fa-calendar-alt"></i> Programme
      </a>
    </li>

    <li class="nav-item">
      <a
        href="{% url 'contacts' %}"
        class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %} nav-link"
      >
        <i class="fas fa-envelope"></i> Contact
      </a>
    </li>

    <li class="nav-item">
      <a
        href="{% url 'parrains_list' %}"
        class="{% if request.resolver_match.url_name == 'parrains_list' %}active{% endif %} nav-link"
      >
        <i class="fas fa-handshake"></i> Parrains
      </a>
    </li>
  </ul>
</nav>

<!-- Main Header -->
<div class="header-main text-center">
  <!-- Language Switch -->
  <div class="language-switch">
    <a
      href="{% url 'set_language' %}?language=fr"
      class="text-white {% if LANGUAGE_CODE == 'fr' %}active{% endif %}"
      >FRANÇAIS</a
    >
    |
    <a
      href="{% url 'set_language' %}?language=en"
      class="text-white {% if LANGUAGE_CODE == 'en' %}active{% endif %}"
      >ENGLISH</a
    >
  </div>

  <!-- Logo for the radio -->
  <div class="logo">Radio MFM 99.5</div>
</div>

<div class="user-actions">
  {% if user.is_authenticated %}
      {% if user.is_superuser %}
      <!-- Condition pour les superutilisateurs -->
      <div class="profile-icon" style="color: white">
          <a href="{% url 'admin_dashboard' %}" title="Tableau de bord Admin">
              <i class="fas fa-user"></i> 
          </a>
      </div>

      {% elif user.is_staff %}
      <!-- Condition pour les utilisateurs staff (non-superuser) -->
      <div class="profile-icon" style="color: white">
          <a href="{% url 'stats_dashboard' %}" title="Voir les statistiques">
              <i class="fas fa-chart-line"></i> 
          </a>
      </div>

      {% else %}
      <!-- Condition pour les autres utilisateurs authentifiés mais non staff -->
      <div class="profile-icon" style="color: white">
          <a href="{% url 'account_profile' %}" title="Voir votre profil">
              <i class="fas fa-user-circle"></i>
          </a>
      </div>
      {% endif %}

  {% else %}
  <!-- Si l'utilisateur n'est pas connecté -->
  <div class="profile-icon" style="color: white">
      <a href="{% url 'login' %}" title="Se connecter">
          <i class="fas fa-user-plus"></i>
      </a>
  </div>
  {% endif %}
</div>

