<nav class="navbar navbar-dark bg-dark border-top fixed-bottom navbar-bottom d-lg-none">
  <div class="container justify-content-around">
    <a class="nav-link text-center text-white" href="{% url 'accueil' %}">
      <i class="fas fa-home fs-4"></i><br><small>Accueil</small>
    </a>
    <a class="nav-link text-center text-white" id="listen-live" href="{% url 'direct' %}">
      <i class="fas fa-play-circle"></i><br><small>Direct</small>
    </a>
    <a class="nav-link text-center text-white" href="{% url 'podcasts' %}">
      <i class="fas fa-podcast fs-4"></i><br><small>Podcast</small>
    </a>
    <a class="nav-link text-center text-white" href="{% url 'video' %}">
      <i class="fas fa-record-vinyl fs-4"></i><br><small>Différé</small>
    </a>

    {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <a class="nav-link text-center" href="{% url 'admin:index' %}">
        <i class="fas fa-cogs fs-4"></i><br><small>Admin</small>
      </a>
    {% elif user.is_staff %}
      <a class="nav-link text-center" href="{% url 'staff_dashboard' %}">
        <i class="fas fa-tools fs-4"></i><br><small>Staff</small>
      </a>
    {% else %}
      <a class="nav-link text-center" href="{% url 'user_profile' %}">
        <i class="fas fa-user fs-4"></i><br><small>Profil</small>
      </a>
    {% endif %}
  {% else %}
    <a class="nav-link text-center" href="{% url 'login' %}">
      <i class="fas fa-user-circle"></i><br><small>Connexion</small>
    </a>
  {% endif %}
  
  </div>
</nav>
